<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.luckyh.purchase.supplier.mapper.SupplierProjectTypeMapper">
    <resultMap type="cn.luckyh.purchase.supplier.domain.SupplierProjectType" id="SupplierProjectTypeResult">
        <result property="projectTypeId" column="project_type_id"/>
        <result property="supplierId" column="supplier_id"/>
    </resultMap>

    
</mapper>